# AI Backend needed imports
sentence-transformers
numpy~=1.26.1
scipy~=1.11.3
nltk~=3.8.1
pandas~=2.1.1
torch~=2.1.0
annoy~=1.17.3
tqdm~=4.66.1
prettytable~=3.9.0
fastapi~=0.104.0
uvicorn~=0.23.2
aiofiles~=23.2.1